@import "./imports/_normalize.scss";

/* SASS VARIABLES ................*/

$color-darkgrey: #1e1d1d;
$color-blue: #515ed8;
$color-lightgrey: #bbbbbb;
$color-white: #ffffff;

/* BASE STYLES ....................*/

* { 
   box-sizing: border-box;
   font-family: "Roboto", sans-serif; 
}
img {
   width: 100%;
   display: block;
}

#app-container{
   max-width: 100%; 
   display: block;

}


/* HEADER STYLES .................*/

.main-header {
	height: 45vh;
	background: url("http://magentanova.github.io/html-intro-1/images/houston.jpg");
	background-size: cover;
	background-position: center; 
	display: block;
	max-width: 100%;
	position: relative;

	img {
		width: 7%;
		border-radius: 50%;
		position: absolute;
		border: 4px solid $color-white;
		top: 85%;
		left: 15%;
	}
}

/* MAIN CONTENT STYLES */

.main-content {
	max-width: 60%;
	margin: 5% auto;
	/*border: 1px solid $color-lightgrey; */
	height: 100vh;
	display: flex;
	font-size: 0;
	vertical-align: top;

	/* LEFT SIDEBAR STYLES */
	.left-aside {
		flex: 1;
		/*border: 1px solid $color-lightgrey; */
		margin: 10px;

		h6 {
			color: $color-darkgrey;
			font-size: medium;
			font-weight: bold;
		}

		p {
			color: $color-lightgrey;
			font-size: 14px;
			margin-top: -7px;
			font-weight: bold;
		}

		hr {
			color: $color-lightgrey;
			font-size: 14px;
			margin-top: -17px;
		}

		#search-text {
			color: $color-lightgrey;
			font-size: medium;
			margin-top: -20px;
			font-weight: bold;
		}

		input {
			color: $color-lightgrey;
			font-size: 12px;
			width: 100%;
			margin-top: -3px;
			padding-left: 4px;
		}
	}

	/* MAIN SECTION STYLES */
	.main-body {
		flex: 2;
		/*border: 1px solid $color-lightgrey; */
		margin: 10px;	

		h1 {
			font-size: 30px;
			font-weight: bold;
			text-align: left;
			margin-top: 0;
			margin-bottom: 5px;
			line-height: 35px;
		}

		em {
			font-size: 12px;
			margin-bottom: 5%;
			line-height: 35px;

			span {
				color: $color-blue;
			}

		}

		img {
			width: 100%;
   			display: block;
   			height: 35vh;
   			margin-top: 10px;
		}

		p {
			font-size: 14px;
			line-height: 25px;
			margin: 2%;
			width: 100%;
		}
	}

	/* FIXED SIDEBAR STYLES */
	.fixed-aside {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 200px;
		border: 1px solid $color-lightgrey;
		height: 10vh;
		margin-left: 30px;
		margin-right: 5px;
		margin-bottom: 75px;
		border-radius: 5px;
	}
}

